<div><h2>Chat Support</h2></div>
<hr>

<input type="text" id="message">
<div id="messages" ></div>

<br><br>

<a href="/">Home Page</a>

<form action="/api/carts/" method="post">
    <input type="sunmit" value="Ingresar">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/chat.js"></script>